/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


*{
	box-sizing: border-box;
	padding:0; margin:0;
	font-family: 'Lato', 'Pretendard';
}

.apple_font_100 {
	font-family: 'asn-t';
}

html{
	background-color: #000;
	font-size: 62.5%;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {border: 0; word-break: keep-all;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}

body {
	position: relative;
	line-height: 1.5;
	width: 100%; height: 100%;
	color: #fff;
	max-width: 2560px; margin: 0 auto;
}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
a{ text-decoration: none; color: #fff;}
img {vertical-align: top; max-width: 100%;}
i, em {font-style: normal;}

p::first-line {}
p::first-letter {}
strong {font-weight: bold;}

input:focus, textarea:focus {
	outline: 2px solid #3bb0e2;
}

.fadeout {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.2s ease;
}

.move {
    opacity: 1;
    transform: translateY(0);
}

/* scroll_bar */
/* 
*::-webkit-scrollbar {width: 5px;}
*::-webkit-scrollbar-thumb {background-color: #005baa;}
*::-webkit-scrollbar-track {background-color: transparent;}
*/


/* scroll_bar_iex */
/*
html {
    scrollbar-width: 3px;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: #fff;
    scrollbar-base-color: transparent;
    scrollbar-face-color: #005baa;
    overflow-x: hidden;
}
*/


/* --------------------Tag-------------------- */


/* --------------------Class-------------------- */
.pc_only {display: block;}
.ta_only {display: none;}
.mo_only {display: none;}

















@media (min-width: 3000px) {
	html {
		font-size: 73%;
	}
}

/* media br */
@media (max-width: 1440px) {
	.pc_only {display: block !important;}
	.ta_only, .mo_only {display: none !important;}
	/* default */
}
@media (max-width: 1480px) {
	html{font-size: 50% !important;}
	/* html{font-size: 44% !important;} */
}

@media (max-width: 1023px) {
	.pc_only, .ta_only {display: block !important;}
	.mo_only {display: none !important;}
	/* default */
}

@media (max-width: 767px) {
	html{font-size: 44% !important;}
	.pc_only {display: none !important;}
	.ta_only, .mo_only {display: block !important;}
	/* default */
}

@media (max-width: 479px) {
	/* html {font-size: 37.5% !important;} */
    .pc_only, .ta_only {display: none !important;}
	.mo_only {display: block !important;}
	/* default */
}


